
body,html{

    background: url('background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

.btn{

    padding-left: 100px;
    padding-right: 100px;
    margin: 0px;
    margin-top: 15%;
    margin-left: 20px;
    margin-right: 20px; 
}

.btn:hover{

    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);

}

.navbar-nav > li{
    font-size: 3vh;
    padding-left:20px;
    padding-right:20px;
  }

a{ 
    color: inherit;
}

a:hover{ 
    color: yellow;
}

#icons{
    width: 50px;

}

#name{

    text-align: center;
    color: rgb(255, 255, 255);
    margin-top: 15%;
    font-size: 5vmax;
    font-family: 'Poppins', sans-serif;
}

#adjs {

        text-align: center;
        color: white;
        font-size: 2.5vmax;
        font-family: 'Playfair Display', serif;

}

.container{
    justify-content: center;
    justify-items: center;
}

.button_container{
    text-align: center;
    justify-content: center;
}



/* .btns{
    display: flex;
    justify-items: center;
    justify-content: center;
} */
